* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********************************** LOGIN **********************************/

.bottom_img img {
  position: absolute;
  bottom: -65px;
  right: -101.5px;
  transform: translate(-50%, -50%);
}
.login .auth_container {
  width: 100%;
  /* margin: auto; */
  /* padding: 110px 0; */
  display: flex;
  align-items: center;
}
.div2 .div3 {
  width: 660px;
  /* margin: auto; */
}

.login .auth_container .login_head h1 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 60px;
  color: #145173;
}
.login .auth_container .login_form .inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login .auth_container .login_form .inputs .div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login .auth_container .login_form .inputs .div label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #1e1e1e;
}
.login .auth_container .login_form .inputs .div .input {
  padding: 20px 25px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  border: 1px solid #a6a6a633;
  border-radius: 10px;
  width: 100%;
}
.login .auth_container .login_form .forgot {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 40px 0;
}
.login .auth_container .login_form .forgot button {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: left;
  color: #145173;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.login .auth_container .login_form .login_btn button {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  padding: 15px 0;
  color: white;
  background-color: #145173;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.login .auth_container .login_form .login_btn button a{
  color: white;
text-decoration: none;
}
.login .auth_container .another_acc p {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: left;
  color: #777777;
  text-align: center;
}
.another_acc p a {
  color: #145173;
}

/******************************** SIGNUP ********************************/

/* .signup {
  background-image: url("/src/assets/images/full_background.png");
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 100vh;
} */
.signup .auth_container {
  width: 100%;
  /* margin: auto; */
  /* padding: 110px 0; */
  display: flex;
  align-items: center;
}
.auth_container .div1 {
  background-image: url("/src/assets/images/full_background.png");
  /* background-position: center; */
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
}
.div1 .h_tags {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 750px;
  justify-content: space-between;
  padding: 50px;
}
.div1 .h_tags h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}
.div1 .h_tags h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: left;
}
.auth_container .div2 {
  width: 50%;
}
.signup .auth_container .div2 .signup_head h1 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
  color: #145173;
}
.signup .auth_container .signup_form {
  width: 660px;
  margin: 60px 0 40px 0;
}
.signup .auth_container .signup_form .inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.signup .auth_container .signup_form .inputs .div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.signup .auth_container .signup_form .inputs .div label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #1e1e1e;
}
.signup .auth_container .signup_form .inputs .div .input {
  padding: 20px 25px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  border: 1px solid #a6a6a633;
  border-radius: 10px;
  width: 100%;
}
.signup .auth_container .signup_form .create_acc button {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  padding: 15px 0;
  color: white;
  background-color: #145173;
  width: 100%;
  margin: 55px 0 25px 0;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.signup .auth_container .signup_form .already_log_in p {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: left;
  text-align: center;
  color: #777777;
}
.already_log_in p a {
  color: #145173;
}

/******************************* NAVBAR *********************************/

.nav {
  background-color: #145173;
  width: 311px;
  height: 100vh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav .nav_container {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.nav .nav_container .nav_head h1 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  text-align: center;
}
.nav_container .nav_links {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.nav_links .link {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #bdbbbb;
}
.logout-btn {
  margin: 20px;
  padding: 10px;
  border: 0;
  outline: 0;
  border-radius: 10px;
}
/********************************** WELCOME *********************************/

.welcome {
  flex-grow: 1;
}
.header_container {
  margin: 30px 0;
}
.header_container .header_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 300px;
}
.header_head h1 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  color: #145173;
}

/********************************* MAINLAYOUT *********************************/
.auth_container {
  width: 100%;
  height: 100vh;
}
.mainlayout {
  width: 100%;
}
.mainlayout .mainlayout_container {
  width: 100%;
  display: flex;
  gap: 30px;
}
.mainlayout .mainlayout_container .outlet {
  width: 80%;
}

/*********************************** WELCOME *************************************/

.welcome .welcome_container {
  padding: 20px 30px 30px 40px;
  border-radius: 10px;
  box-shadow: 0px 3px 13px rgba(20, 81, 115, 0.15);
}
.welcome_container .welcome_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.welcome .welcome_container .welcome_head h1 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #145173;
  padding-bottom: 20px;
  border-bottom: 1px solid #2a419d26;
  width: 100%;
}

.search_img {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

/* .search_contact .inputs {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
} */
.inputs .input_div {
  display: flex;
  gap: 30px;
  align-items: center;
}
.search_contact .inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.search_contact .inputs .label label {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.input_div .simple {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #a6a6a633;
  border-radius: 10px;
  padding-right: 20px;
}
.simple img {
  cursor: pointer;
}
.simple input {
  padding: 20px 25px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  outline: none;
  border: none;
  width: 100%;
}
.inputs .search_btn button {
  border: none;
  outline: none;
}
.search_btn a {
  padding: 19px 110px;
  background-color: #145173;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
/******************************* CONTACT ****************************/

.contact {
  width: 100%;
}
.contact .contact_container {
  width: 1470px;
}
.contact .contact_container .contact_head .back {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}
.back img {
  cursor: pointer;
}
.back h1 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  color: #145173;
  margin: 0
}
.contact_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact_container .keyword_result {
  margin-top: 30px;
  box-shadow: 0px 3px 13px rgba(20, 81, 115, 0.15);
  padding: 20px 20px 20px 30px;
  /* border-bottom: 1px solid #2A419D26; */
}
.keyword {
  display: flex;
  align-items: center;
  gap: 20px;
}
.keyword p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #145173;
}
.keyword h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #145173;
}
.keyword_result .keyword_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.keyword_result .keyword_head .msg button {
  padding: 10px 25px;
  background-color: #145173;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.keyword_content table {
  border-spacing: 0;
  margin: 30px 0;
  width: 100%;
}
.tr_2_default .focus {
  color: green;
}
.tr_3_default .focus {
  color: #d23333;
}
/* .keyword_content table .tr_default {
  padding: 25px 60px 25px 30px;
  background-color: #cee0ea;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
} */
.keyword_content table .tr_default th {
  padding: 25px 60px 25px 30px;
  background-color: #cee0ea;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #424242;
}
.keyword_content table .tr_default th input {
  width: 20px;
  height: 20px;
}
.keyword_content table .tr_2_default td {
  padding: 25px 60px 25px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  /* color: #464646; */
}
.keyword_content table .tr_3_default td {
  padding: 25px 60px 25px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  /* color: #464646; */
}
.keyword_content table .tr_3_default td input,
.keyword_content table .tr_2_default td input {
  width: 20px;
  height: 20px;
}

/************************************* DIALOG **********************************/

.logo_message .message_head {
  background-color: #145173;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message_head h1 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}
.message_head img {
  cursor: pointer;
}
.message_inputs .inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}
.inputs .input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #1e1e1e;
}
.input input,
.input textarea {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #a6a6a633;
  border-radius: 10px;
}
.input textarea {
  resize: none;
}
.inputs .message_btns {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.message_btns .save,
.message_btns .send {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  padding: 15px 60px;
  cursor: pointer;
  background-color: #145173;
  border: none;
  outline: none;
  border-radius: 10px;
}
.message_btns .send {
  padding: 15px 40px;
}
